
#module12 .formBanner12 {
    display: none;
}

#module12 {
    border: none;
}

#module12 .formMiddle12 {
    border: none;
}

#module12 .formMiddle12
.formMiddleCenter12 {
    border: none;
}

#module12 .formTop12 {
    display: none;
}

#module12 .formBottom12 {
    display: none;
}

#module12 .formMiddle12 .formMiddleLeft12 {
    display: none;
}

#module12 .formMiddle12 .formMiddleRight12 {
    display: none;
}

#module12 {
    background: none;
}

#module12 .formMiddle12 {
    background: none;
}

#module12 .formMiddle12
.formMiddleCenter12 {
    background: none;
}

#module12 .formMiddleContent12 {
    background: none;
}

#module49 .fk-formContentOther {
    display: none;
}

#module49 .fk-formContentOtherPadding {
    padding-top: 0;
}

#module49 .formBanner49 .formBannerTitle .titleCenter {
    display: table-cell;
}

#module49 .formBanner49
div.titleText {
    display: block;
}

#module49 .news_list_wrap .news_title:hover .title_content {
    color: #ffc001;
}


#module49 .m_news_img .news_img {
    border-radius: 5px;
}

#module49 .news_list_wrap .news_summary {
    -webkit-line-clamp: 2;
}

#module314 .formBanner314 {
    display: none;
}

#module314 {
    border: none;
}

#module314 .formMiddle314 {
    border: none;
}

#module314 .formMiddle314
.formMiddleCenter314 {
    border: none;
}

#module314 .formTop314 {
    display: none;
}

#module314 .formBottom314 {
    display: none;
}

#module314 .formMiddle314 .formMiddleLeft314 {
    display: none;
}

#module314 .formMiddle314 .formMiddleRight314 {
    display: none;
}

#module314 {
    background: none;
}

#module314 .formMiddle314 {
    background: none;
}

#module314 .formMiddle314
.formMiddleCenter314 {
    background: none;
}

#module314 .formMiddleContent314 {
    background: none;
}

#module314 {
    height: 256px;
}

#module314 .floatImg .float_in_img {
    width: 264px;
}

#module314 .floatImg .float_in_img {
    height: 256px;
}

#module315 .formBanner315 {
    display: none;
}

#module315 {
    border: none;
}

#module315 .formMiddle315 {
    border: none;
}

#module315 .formMiddle315
.formMiddleCenter315 {
    border: none;
}

#module315 .formTop315 {
    display: none;
}

#module315 .formBottom315 {
    display: none;
}

#module315 .formMiddle315 .formMiddleLeft315 {
    display: none;
}

#module315 .formMiddle315 .formMiddleRight315 {
    display: none;
}

#module315 {
    background: none;
}

#module315 .formMiddle315 {
    background: none;
}

#module315 .formMiddle315
.formMiddleCenter315 {
    background: none;
}

#module315 .formMiddleContent315 {
    background: none;
}

#module315 {
    height: 188px;
}

#module315 .floatImg .float_in_img {
    width: 188px;
}

#module315 .floatImg .float_in_img {
    height: 188px;
}

#module316 .formBanner316 {
    display: none;
}

#module316 {
    height: 77px;
}


.J_webHeaderTable.webHeaderFixed #module316 * {


}

#module396 .formBanner396 {
    display: none;
}

#module396 {
    height: 40px;
}


.J_webHeaderTable.webHeaderFixed #module396 * {


}

#module397 .formBanner397 {
    display: none;
}

#module397 {
    height: 40px;
}


.J_webHeaderTable.webHeaderFixed #module397 * {


}

#module398 .formBanner398 {
    display: none;
}

#module398 {
    height: 40px;
}


.J_webHeaderTable.webHeaderFixed #module398 * {


}

#webHeaderTable .webHeaderTd.webHeaderFixed {

}

.fixed_project .newPrimaryTitle, .fixed_project .newPrimaryTitle * {

}

#webHeaderTable {
    display: table !important;
    *display: block !important;
    height: 410px !important;
}

#webHeaderTable .webHeaderTd {
    height: 410px;
}

.absTopTable {
    height: 0;
}

#webHeaderTable {
    background: none;
}

#webHeaderTable .webHeader {
    background: none;
}

#webHeaderTable .headerCusLeft {
    background: none;
}

#webHeaderTable .headerCusMiddle {
    background: none;
}

#webHeaderTable .headerCusRight {
    background: none;
}

#webHeaderTable .webHeaderTd {
    background: transparent url(../images/AD0IjezqCxACGAAgp7v6_AUo9Jr0ogYwgA84ngM.jpg) repeat center;
}

#webHeaderTable .webHeaderTd {
    background: transparent url(../images/AD0IjezqCxACGAAgp7v6_AUo9Jr0ogYwgA84ngM.jpg) repeat center;
}

#webFooterTable {
    background: url(../images/AD0IjezqCxACGAAg25b__AUowKGkkQQwgA84wQM.jpg) repeat center, transparent;
}

#webFooterTable {
    background: url(../images/AD0IjezqCxACGAAg25b__AUowKGkkQQwgA84wQM.jpg) repeat center, transparent;
}

#webFooterTable .webFooter {
    background: none;
}

#webFooterTable .footer {
    background: none;
    border-color: transparent;
}

#webFooterTable .footerTop {
    display: none;
}

#webFooterTable .middleLeft {
    display: none;
}

#webFooterTable .middleCenter {
    background: none;
}

#webFooterTable .footerContent {
    background: none;
}

#webFooterTable .footerSupport {
    background: none;
}

#webFooterTable .middleRight {
    display: none;
}

#webFooterTable .footerBottom {
    display: none;
}

#footer .footerContent {
    padding: 370px 0 37px;
}

#footer .footerInfo {
    padding: 0 0px 0 0px;
}

#footer .footerSupport {
    padding: 0 0px 0 0px;
}

#footer .visitorCounterWrap {
    padding: 0 0px 0 0px;
}

#footer div.footerInfo {
    float: none;
}

#footer .footerInfo {
    text-align: center;
}

#footer .footerSupport {
    text-align: center;
}

#footer .visitorCounterPosition {
    float: none;
}

#footer .footerInfo {
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgba(119, 119, 119, 1);
}

#footer .footerSupport {
    font-size: 14px;
    font-family: 微软雅黑;
    color: rgba(119, 119, 119, 1);
}

#footer div.footerSupport a {
    font-size: 14px;
    font-weight: normal;
    font-family: 微软雅黑;
    color: rgba(119, 119, 119, 1);
    text-decoration: none;
    font-style: normal;
}

#footer .footerSupport a:hover {
    color: rgba(221, 221, 221, 1);
}

#navV2 {
    width: 600px;
}

#navV2 .navMainContent {
    width: 100%;
}

#navV2 .navContent {
    width: 600px;
}

#navV2 {
    height: 56px;
}

#navV2 .navContent {
    height: 56px;
}

#navV2 .navMainContent {
    height: 100%;
}

#navV2 .navCenterContent {
    height: 100%;
}

#navV2 {
    top: 348px;
}

#navV2 {
    left: 312px;
}

#navV2 {
    right: auto;
}

#navV2 .navCenter {
    width: auto;
}

#navV2 {
    max-width: 1200px;
}

.webBanner #navV2Wrap {
    text-align: left;
    width: 1200px;
}

#navV2 .navContent {
    max-width: 1200px;
}

#navV2.fixed_project .itemName0 {
    font-size: 16px;
    color: rgba(119, 119, 119, 1);
    font-family: 微软雅黑;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}

#navV2.fixed_project .itemHover .itemName0, #navV2.fixed_project .itemSelected .itemName0 {
    color: rgb(255, 192, 1);
}

#navV2.fixed_project .nav_item_arrow {
    color: rgba(119, 119, 119, 1);
}

#navV2.fixed_project .itemHover .nav_item_arrow, #navV2.fixed_project .itemSelected .nav_item_arrow {
    color: rgb(255, 192, 1);
}

#navV2 .J_nav_item_name {
    text-decoration: none;
}

#navV2 .J_nav_item_name {
    font-size: 16px;
}

#navV2 .J_nav_item_name {
    font-family: 微软雅黑;
}

#navV2 .J_nav_item_name {
    color: rgba(119, 119, 119, 1);
}

#navV2 .nav_item_arrow {
    color: rgba(119, 119, 119, 1);
}

#navV2 .nav_item_icon {
    color: rgba(119, 119, 119, 1);
}

#navV2 .itemSelected .J_nav_item_name {
    color: rgb(255, 192, 1);
}

#navV2 .itemHover .J_nav_item_name {
    color: rgb(255, 192, 1);
}

#navV2 .itemSelected .nav_item_arrow {
    color: rgb(255, 192, 1);
}

#navV2 .itemHover .nav_item_arrow {
    color: rgb(255, 192, 1);
}

#navV2 .itemSelected .nav_item_icon {
    color: rgb(255, 192, 1);
}

#navV2 .itemHover .nav_item_icon {
    color: rgb(255, 192, 1);
}

#navV2 .J_nav_item_name {
    text-shadow: none;
}

#navV2 .J_nav_item_name {
    -webkit-text-shadow: none;
}

#navV2 .J_nav_item_name {
    -o-text-shadow: none;
}

#navV2 .J_nav_item_name {
    -ms-text-shadow: none;
}

#navV2 .J_nav_item_name {
    -moz-text-shadow: none;
}

#navV2 .item {
    width: 100px;
}

#navV2 .item {
    min-width: 100px;
}

#navV2 .item {
    width: auto;
}

#navV2 .item {
    height: 55px;
}

#navV2 .item a, #navV2 .nav_item_wrapper {
    height: 55px;
    line-height: 55px;
}

#navV2 .item a, #navV2 .nav_item_wrapper {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

#navV2 .item a .J_nav_item_name {
    position: relative;
    top: 0;
}

#navV2 .item a .J_nav_item_subname {
    display: none;
    position: relative;
}

#navV2 .item {
    border-top-left-radius: 0;
}

#navV2 .item {
    border-top-right-radius: 0;
}

#navV2 .item {
    border-bottom-left-radius: 0;
}

#navV2 .item {
    border-bottom-right-radius: 0;
}

#memberBar {
    width: 1200px;
}

#topAdvForms {
    width: 1200px;
}

#bottomFloatLayerForms {
    width: 1200px;
}

#webTop {
    width: 1200px;
}

#absTopForms {
    width: 1200px;
}

.webNavDefault {
    width: 1200px;
}

.webHeader .headerNavClass {
    width: 1200px;
}

#webHeader {
    width: 1200px;
}

#absForms {
    width: 1200px;
}

div#webContainer {
    width: 1200px;
}

#absBottomForms {
    width: 1200px;
}

#webFooter {
    width: 1200px;
}

div.webNav .navMainContent {
    width: 1200px;
}

div.nav .navMainContent {
    width: 1200px;
}

.fullmeasureContent {
    width: 1200px;
}

#fk-webHeaderZone {
    width: 1200px;
    margin-left: -600.0px;
}

#fk-webFooterZone {
    width: 1200px;
    margin-left: -600.0px;
}

#fk-webBannerZone {
    width: 1200px;
    margin-left: -600.0px;
}

#webBanner {
    width: 100%;
}